*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
}
#main{
   width:100%;
   min-height:100vh ;
}
.top{
    width: 100%;
    min-height: 60vh;
    /* background-color: aqua; */
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/48288d67532563.5b3fdc45d2733.jpg');
    background-size: cover;
    background-position: center;
}
.top .overlay{
    position: relative;
    width: 100%;
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.192);
}
.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    position: absolute;
    padding:0 10vh;
    bottom: 5%;
}
.text h1{
    font-weight: 600;
    font-size: 4vw;
}
.text .image{
    background-image: url('https://cdn.pixabay.com/photo/2016/11/19/18/06/feet-1840619_1280.jpg');
    background-size: cover;
    width: 300px;
    height: 280px;
}
.rtext
{
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-between;
}
.icon{
    font-size: 1rem;
}

.bottom{
    display: flex;
    width: 100%;
    min-height: 40vh;
}
.b1{
 width:30%;
 min-height:inherit;
 background-image: url('https://img.freepik.com/premium-photo/shoe-that-is-made-by-nike_148840-1795.jpg');
 background-size: cover;
 background-position: center;
}
.b1 h1{
    text-align: center;
    padding-top: 79px;
    font-size: 70px;
    color: rgb(255 166 0 / 98%);
}
.b1 p{
    text-align: center;
    padding: 15px;
    color: white;
}
.b2{
 width:30%;
 min-height: inherit;
 display: flex;
 flex-direction: column;
}
.b2 .up{
    width: 100%;
    min-height: 20vh;
    background-image: url('michael.jpg');
    background-size: cover;
    background-position: center;
}
.b2 .up h1{
    text-align: center;
    padding:0 30px;
    color: #808080bd;
}
.b2 .up p{
    text-align: center;
    padding: 15px;
    color: white;
} 
.b2 .down{
    width: 100%;
    min-height: 20vh;
    background-image: url('nike3.png');
    background-size: cover;
    background-position: center;
}
.b2 .down .overlay{
    position:relative;
    width: 100%;
    min-height: 20vh;
    background-color: rgba(212, 58, 15, 0.224);
    color:rgba(249, 64, 64, 0.947);
}
.b2 .down .overlay h1{
padding: 10px;

}
.b3{
   width:40%;
   min-height: inherit; 
   background-image: url('nike2.jpg');
   background-size: cover;
   background-position: center; 
}
.b3 .overlay{
    justify-content: right;
    position: relative;
    margin-left: 50%;
    width: 50%;
    height: 100%;
    padding: 4vw 3vh;
    
}
.b3 .overlay p{
padding: 1vh;
margin: 0.3vh;
color: rgb(255 93 158 / 95%);;
font-size: 1.2rem;
font-weight: 600;
background-color: #ffc0cb91;

border-radius: 50px;
/* glass touch */
background: linear-gradient(
    90deg,
    rgba(251, 131, 131, 0.1) 0%,
    rgba(254, 81, 150, 0.1) 100%
  );
  background-blend-mode:  screen;
  box-shadow:
    inset 0px 5px 5px 0px rgba(255, 255, 255, 0.1),
    inset 0px -5px 5px 0px rgba(254, 81, 150, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
