*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
}
#main{
   width:100%;
   min-height:100vh ;
}
.top{
    width: 100%;
    min-height: 60vh;
    /* background-color: aqua; */
    background-image: url('https://cdn.britannica.com/50/213250-050-02322AA8/Nike-logo.jpg');
    background-size: cover;
    background-position: center;
}
.top .overlay{
    position: relative;
    width: 100%;
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.192);
}
.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    position: absolute;
    padding:0 10vh;
    bottom: 5%;
}
.text h1{
    font-weight: 600;
    font-size: 4vw;
}
.text .image{
    background-image: url('https://cdn.pixabay.com/photo/2016/11/19/18/06/feet-1840619_1280.jpg');
    background-size: cover;
    width: 300px;
    height: 280px;
}
.rtext
{
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-between;
}

.bottom{
    display: flex;
    width: 100%;
    min-height: 40vh;
}
.b1{
 width:30%;
 min-height:inherit;
 background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/f0a14417430469.562b9e470f11e.jpg');
 background-size: cover;
 background-position: center;
}
.b1 h1{
    text-align: center;
    padding: 30px;
}
.b1 p{
    text-align: center;
    padding: 15px;
    color: white;
}
.b2{
 width:30%;
 min-height: inherit;
 display: flex;
 flex-direction: column;
}
.b2 .up{
    width: 100%;
    min-height: 20vh;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/188/992/952/advertising-justice-logo-logos-wallpaper-preview.jpg');
    background-size: cover;
    background-position: center;
}
.b2 .up h1{
    text-align: center;
    padding:0 30px;
}
.b2 .up p{
    text-align: center;
    padding: 15px;
    color: white;
} 
.b2 .down{
    width: 100%;
    min-height: 20vh;
    background-image: url('https://cdna.artstation.com/p/assets/images/images/055/667/294/large/vishal-verma-nike-ui-design.jpg?1667477502');
    background-size: cover;
    background-position: center;
}
.b2 .down .overlay{
    position:relative;
    width: 100%;
    min-height: 20vh;
    background-color: rgba(212, 58, 15, 0.224);
    color: white;
}
.b3{
   width:40%;
   min-height: inherit; 
   background-image: url('nike2.jpg');
   background-size: cover;
   background-position: center; 
}
.b3 .overlay{
    justify-content: right;
    position: relative;
    margin-left: 50%;
    width: 50%;
    height: 100%;
    padding: 4vw 3vh;
}
.b3 .overlay p{
padding: 1vh;
color: #C5D42B;
font-size: 1.2rem;
font-weight: 600;

}